<%- include("./partial/header.ejs") %> <%- include("./partial/nav.ejs") %>
<!-- here write content -->

<div class=" d-flex text-white" style="min-height: 91vh; width: 100% ;background: #34e89e;
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <div class="container">
    <div class="row justify-content-around align-items-center text-white">
      <div class="col-md-6">
        <div class="content">
          <h1>About Us</h1>
          <h4 class="lh-base pt-2">
            "The love of learning, the sequestered nooks, and all the sweet
            serenity of books." - Henry Wadsworth Longfellow
          </h4>
          <p class="fs-6 pt-2">
            A bookstore is a haven for learning and discovery. It's a serene
            space where one can find solace amidst shelves filled with knowledge
            and wisdom. Each book holds the promise of enlightenment and the joy
            of exploration.A bookstore breathes life into a room, infusing it
            with the soulful presence of literature. It's a place where the
            walls resonate with the stories of countless authors and the dreams
            of avid readers. Without books, a room feels empty, devoid of the
            richness that only literature can provide.
          </p>
          <a href="/"><button type="button" class="btn btn-light">Reach Us</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <div class="d-flex align-items-center justify-content-center pt-2">
            <img
              style="height: 80vh; width: 100%"
              src="picture/aboutimg.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- this is footer -->
<%- include("./partial/footer.ejs") %>
