<%- include("./partial/header.ejs") %> <%- include("./partial/nav.ejs") %>
<!-- here write content -->

<div
  class="d-flex text-white p-2"
  style="
    min-height: 90vh;
    width: 100%;
    background: #23074d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #cc5333,
      #23074d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #cc5333,
      #23074d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  "
>
  <div class="container">
    <div class="row justify-content-around align-items-center text-white">
      <div class="col-md-6">
        <div class="pt-2">
          <img
            class="border rounded-4"
            style="max-height: 65vh; width: 100%"
            src="/picture/createpageimage.jpg"
            alt=""
          />
          <h2>Books are a uniquely portable magic.</h2>
        </div>
      </div>
      <div
        class="col-md-4 border rounded-4 p-4"
        style="
          background-image: url('/picture/updateimg1.avif');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <div class="form">
          <form action="/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleFormControlFile1">Choose file input</label>
              <input
                type="file"
                name="image"
                class="form-control-file"
                id="exampleFormControlFile1"
              />
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput">Book Name</label>
              <input
                type="text"
                name="bookname"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="Enter Book name"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Author Name</label>
              <input
                type="text"
                name="author"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Enter Author name"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Category</label>
              <input
                type="text"
                name="category"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Category of book"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Language</label>
              <input
                type="text"
                name="language"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Enter Book Language"
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Price</label>
              <input
                type="text"
                name="price"
                class="form-control"
                id="formGroupExampleInput2"
                placeholder="Enter book price"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Decription</label>
              <textarea
                class="form-control"
                name="description"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>

            <div class="text-center p-2">
              <button type="submit" class="btn btn-primary">Add Book</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- this is footer -->
<%- include("./partial/footer.ejs") %>
